*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 22, 22);
    color: lavender;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.grid-item{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(87, 85, 85);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
}


.hasLetterPerfectPosition{
    background-color: rgb(25, 126, 25);
}
.hasLetterNotPosition{
  background-color: rgb(131, 131, 35);
}
.notLetterNotPosition{
  background-color: rgb(43, 43, 43);
}

#keyboard-container {
    height: 200px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    width: 45px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }